<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cn.ac.ict.alpha">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        tools:replace="android:icon">
        <activity
            android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Module: Count -->
        <activity android:name=".activities.count.CountMainActivity" />
        <activity android:name=".activities.count.CountGameActivity" />
        <activity android:name=".activities.count.CountSimKeyboardActivity" />
        <activity android:name=".activities.stand.StandMainActivity" />
        <activity android:name=".activities.stand.StandTestingActivity" />
        <activity android:name=".activities.face.FaceMainActivity" />
        <activity android:name=".activities.face.VideoCaptureActivity" />
        <activity android:name=".activities.sound.SoundMainActivity" />
        <activity android:name=".activities.tapper.TapperTestingActivity" />
        <activity android:name=".activities.tapper.TapperMainActivity" />
        <activity android:name=".activities.stride.GoActivity" />
        <activity android:name=".activities.stride.StrideMainActivity" />
        <activity android:name=".activities.stride.StrideItemActivity" />
        <activity android:name=".activities.stride.StrideWalkingActivity" />
        <activity android:name=".activities.RegisterActivity" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.MedicineActivity" />
        <activity android:name=".activities.ResultActivity" />
        <activity android:name=".activities.UserInfoActivity" />
        <activity android:name=".activities.PasswordActivity" />
    </application>
</manifest>